.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

img {
  width: auto;
  height: 80%;
  margin-top: 1em;
  margin-bottom: 0.5em;
  border-radius: 0;
  box-shadow: none;
}