.countdown {
    margin: 0 30em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    height: 100%;
  }
  
  .countdown p {
    font-size: 24px;
    font-weight: bold;
  }
  